<div class="panel-heading">
	<button class="btn btn-default remove-song"><i class="glyphicon glyphicon-remove"></i></button>
	<button class="btn btn-default view-song"><i class="glyphicon glyphicon-eye-open"></i></button>
	<h4 class="panel-title">
		<a data-toggle="collapse" data-parent=".accordion" href="#arrangement-{{arrangement}}-song-{{id}}">
			{{name}}
		</a>
	</h4>
</div>
<div id="arrangement-{{arrangement}}-song-{{id}}" class="panel-collapse collapse">
	<div class="panel-body">
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>Verses</th>
				</tr>
				<tr></tr>
			</thead>
			<tbody>
			</tbody>
			<tfoot></tfoot>
		</table>
	</div>
</div>